.formInput {
  width: 100%;
}

.spacingAround > button {
  margin-left: 12px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.errorAlert {
  width: 100%;
  margin-bottom: 16px;

  & > * {
    width: 100%;
    box-sizing: border-box;
  }
}